services:
  mariadb:
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    container_name: mariadb
    restart: unless-stopped
    networks:
      - inception

    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress

      DB_ROOT_PWD: change_root_password

      DB_USER_PWD: change_user_password
      WP_ADMIN_USER: wpowner

    expose:
      - "3306"

    volumes:
      - mariadb_data:/var/lib/mysql

    secrets:
      - db_root_password
      - db_password
      

  wordpress:
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    container_name: wordpress
    restart: unless-stopped
    networks:
      - inception

    depends_on:
      - mariadb

    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress

      WP_URL: https://mmanaoui.42.fr
      WP_TITLE: "My Inception Site"
      WP_ADMIN_USER: wpowner
      WP_ADMIN_EMAIL: wpowner@mmanaoui.42.fr
      WP_USER: author
      WP_USER_EMAIL: author@mmanaoui.42.fr

    secrets:
      - db_password
      - admin_password
      - user_password

    volumes:
      - wordpress_data:/var/www/html

    expose:
      - "9000"

  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    container_name: nginx
    restart: unless-stopped
    networks:
      - inception

    depends_on:
      - wordpress

    environment:
      DOMAIN_NAME: mmanaoui.42.fr

    ports:
      - "443:443"

    volumes:
      - wordpress_data:/var/www/html:ro

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/mmanaoui/data/mariadb
  
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/mmanaoui/data/wordpress

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  admin_password:
    file: ../secrets/admin_password.txt
  user_password:
    file: ../secrets/user_password.txt

networks:
  inception:
    driver: bridge